{% set role = message.role if message.role in ["user", "assistant"] else "assistant" %}
<article class="message {{ role }}">
  {# Lookup username by IP from the users list #}
  {% set sender_ip = message.sender or message.sender_ip %}
  {% set sender_host = sender_ip.split(':')[0] %}
  {% set sender_name = users_map.get(sender_host) if users_map is defined else "" %}
  <div class="message-meta">{{ sender_name if sender_name else sender_ip }}</div>
  <div class="message-body">{{ message.content }}</div>
</article>